<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Getting Started</h1>
    <p class="lead">Follow these steps to integrate &#64;angular-material-extensions/password-strength into your Angular application</p>
  </div>
</div>

<section class="getting-started">
  <div class="container">
    <mat-accordion multi="true">
      
      <!-- Step 1: Setup Development Environment -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            1. Setup Development Environment
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-card>
          <mat-card-content>
            <p>Please make sure that you have <a href="https://nodejs.org/en/" mat-button color="primary">NodeJS</a>
              and <a href="https://www.npmjs.com/package/npm" mat-button color="primary">npm</a> running on your machine.</p>
            
            <h3>Check Node.js version:</h3>
            <pre><code [highlight]="'$ node -v'" language="bash"></code></pre>
            <button mat-icon-button ngxClipboard [cbContent]="'node -v'" matTooltip="copy" (click)="showCopyMessage('node -v')">
              <mat-icon>content_copy</mat-icon>
            </button>
            
            <h3>Check npm version:</h3>
            <pre><code [highlight]="'$ npm -v'" language="bash"></code></pre>
            <button mat-icon-button ngxClipboard [cbContent]="'npm -v'" matTooltip="copy" (click)="showCopyMessage('npm -v')">
              <mat-icon>content_copy</mat-icon>
            </button>
            
            <p>If they are not installed, please visit <a href="https://nodejs.org/en/download/" mat-button color="primary">nodejs.org</a></p>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>

      <!-- Step 2: Install Angular CLI -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            2. Install Angular CLI
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-card>
          <mat-card-content>
            <p>Check if <a href="https://cli.angular.io/" mat-button color="primary">Angular CLI</a> is installed:</p>
            <pre><code [highlight]="'$ ng -v'" language="bash"></code></pre>
            <button mat-icon-button ngxClipboard [cbContent]="'ng -v'" matTooltip="copy" (click)="showCopyMessage('ng -v')">
              <mat-icon>content_copy</mat-icon>
            </button>
            
            <p>If not installed, run:</p>
            <pre><code [highlight]="'$ npm install -g @angular/cli'" language="bash"></code></pre>
            <button mat-icon-button ngxClipboard [cbContent]="'npm install -g @angular/cli'" matTooltip="copy" (click)="showCopyMessage('npm install -g @angular/cli')">
              <mat-icon>content_copy</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>

      <!-- Step 3: Create Angular App -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            3. Create or Use Your Angular App
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-card>
          <mat-card-content>
            <p>Create a new Angular project:</p>
            <pre><code [highlight]="'$ ng new yourappname'" language="bash"></code></pre>
            <button mat-icon-button ngxClipboard [cbContent]="'ng new yourappname'" matTooltip="copy" (click)="showCopyMessage('ng new yourappname')">
              <mat-icon>content_copy</mat-icon>
            </button>
            
            <p>Navigate to your project:</p>
            <pre><code [highlight]="'$ cd yourappname'" language="bash"></code></pre>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>

      <!-- Step 4: Install the library -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            4. Install &#64;angular-material-extensions/password-strength
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-card>
          <mat-card-content>
            <h3>Using npm:</h3>
            <pre><code [highlight]="'$ npm install --save @angular-material-extensions/password-strength'" language="bash"></code></pre>
            <button mat-icon-button ngxClipboard [cbContent]="'npm install --save @angular-material-extensions/password-strength'" matTooltip="copy" 
              (click)="showCopyMessage('npm install --save @angular-material-extensions/password-strength')">
              <mat-icon>content_copy</mat-icon>
            </button>
            
            <h3>Or using yarn:</h3>
            <pre><code [highlight]="'$ yarn add @angular-material-extensions/password-strength'" language="bash"></code></pre>
            <button mat-icon-button ngxClipboard [cbContent]="'yarn add @angular-material-extensions/password-strength'" matTooltip="copy" 
              (click)="showCopyMessage('yarn add @angular-material-extensions/password-strength')">
              <mat-icon>content_copy</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>

      <!-- Step 5: Import the module -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            5. Import the Module
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-card>
          <mat-card-content>
            <p>Import the module in your app.module.ts:</p>
            <pre><code [highlight]="importExample" language="typescript"></code></pre>
            <button mat-icon-button ngxClipboard [cbContent]="importExample" matTooltip="copy" (click)="showCopyMessage('import code')">
              <mat-icon>content_copy</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>

      <!-- Step 6: Use it in your template -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            6. Use the Component
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-card>
          <mat-card-content>
            <p>Add the component to your template:</p>
            <pre><code [highlight]="usageExample" language="typescript"></code></pre>
            <button mat-icon-button ngxClipboard [cbContent]="usageExample" matTooltip="copy" (click)="showCopyMessage('usage code')">
              <mat-icon>content_copy</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</section>
